* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(119, 119, 119, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    position: relative;
    width: 320px;
    height: 533px;
    border: 1px solid #777;
    background-color: white;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.btn {
    cursor: pointer;
}

.modal {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__wrapper {
    width: 273px;
    height: 319px;
    padding: 16px 14px;
    background-color: white;
}

.modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.modal__close {
    cursor: pointer;
}

.timer, .current-name {
    position: absolute;
    top: -35px;
    right: 7px;
    display: flex;
    padding: 0.2rem 1rem;
    border: 1px solid #777;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

.current-name {
    left: 7px;
    right: unset;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8px;
}

.header__btn {
    padding: 6px 8px;
    border: 1px solid #777;
}

.message-field {
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end; */
    width: 100%;
    border: 1px solid #777;
    flex: 1 1 auto;
    margin-bottom: 8px;
    padding: 0 8px;
    overflow-y: scroll;
}

.message-field::-webkit-scrollbar {
    /*display: none; /* for Chrome, Safari, and Opera */
    width: 5px;
}

.message-field::-webkit-scrollbar-track {
    background: rgba(119, 119, 119, 0.25);
}

.message-field::-webkit-scrollbar-thumb {
    background: rgba(119, 119, 119, 0.4);
    border-radius: 50px;
    border: 1px solid rgb(194, 194, 194);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100%;
}

.message {
    width: 100%;
    margin-bottom: 5px;
}

.message:last-child {
    margin-bottom: 8px;
}

.message > div {
    border: 1px solid #777;
    padding: 8px 8px 28px 8px;
    display: flex;
    width: fit-content;
}

.message_to {
    display: flex;
    justify-content: flex-end;
}

.message_from {
    display: flex;
    justify-content: flex-start;
}

.message_s > div {
    background-color: #f6f6f6;
}

.message_d > div {
    background-color: #e5e5e5;
}

.input, .input-settings {
    display: flex;
    width: 100%;
}

.input-settings{
    margin-top: 8px;
}

.input input, .input-settings input, .input__email, .input__code, .input__btn {
    padding: 6px 8px;
    outline: none;
    border: 1px solid #777;
}

input:first-child, .input-settings:first-child {
    flex: 1 1 auto;
    margin-right: 8px;
}

.input__email, .input__code {
    width: 100%;
    margin-bottom: 7px;
}

.input__btn {
    padding: 7px;
    background-color: white;
}

.input-skip {
    text-decoration: underline;
    text-decoration-style: dotted;
    font-size: 0.9rem;
    font-style: italic;
    text-align: right;
    margin-top: 20px;
    cursor: pointer;
}
