* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(119, 119, 119, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    position: relative;
    width: 320px;
    height: 533px;
    border: 1px solid #777;
    background-color: white;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.btn {
    cursor: pointer;
}

.modal {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
    width: 273px;
    height: 319px;
    padding: 16px 14px;
    background-color: white;
}

.modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal__close {
    cursor: pointer;
}

.timer {
    position: absolute;
    top: -35px;
    right: 7px;
    display: flex;
    padding: 0.2rem 1rem;
    border: 1px solid #777;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8px;
}

.header__btn {
    padding: 6px 8px;
    border: 1px solid #777;
}

.message-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    border: 1px solid #777;
    flex: 1 1 auto;
    margin-bottom: 8px;
    padding: 0 8px;
}

.message {
    border: 1px solid #777;
    padding: 8px 8px 28px 8px;
    margin-bottom: 8px;
    display: flex;
    width: fit-content;
}

.message_to {
    float: right;
}

.message_from {
    float: left;
}

.message_s {
    background-color: #f6f6f6;
}

.message_d {
    background-color: #e5e5e5;
}

.input {
    display: flex;
    width: 100%;
}

.input input {
    padding: 6px 8px;
    outline: none;
    border: 1px solid #777;
}

input:first-child {
    flex: 1 1 auto;
    margin-right: 8px;
}
